<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <meta name="description" content=""></meta>
    <meta name="author" content=""></meta>
    <title>iPlan | Supreme Timemanagement</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css" rel='stylesheet'></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/css/jquery.fileupload.min.css" rel="stylesheet"></link>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"></link>
    <link th:href="@{css/main.css}" href="../static/css/main.css" rel="stylesheet"></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/jquery-ui-timepicker-addon.min.css" rel="stylesheet"></link>

    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/smoothness/jquery-ui.css" rel="stylesheet"></link>

    <style>
        .ui-dialog {
            z-index: 9999 !important;
        }
        
        .ui-button-text {
            font-size: .6em;
        }
        
        .ui-dialog-titlebar-close {
            display: none;
        }
    </style>

    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-growl/1.0.0/jquery.bootstrap-growl.min.js'></script>

    <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>


    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/jquery-ui-timepicker-addon.min.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.4.5/i18n/jquery-ui-timepicker-de.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/lang/de-at.js"></script>
    <!-- <script th:src="@{js/home.js}" src="../static/js/home.js"></script> -->

    <script th:src="@{js/jquery.ui.widget.js}" src="../static/js/jquery.ui.widget.js"></script>

    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>

</head>
<!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <header id="header" role="banner">

        <div class="container">

            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand text-right" href="/"><span
						class="h1 "><abbr title="Awesome Time Manager">iPlan</abbr></span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class=" fileinput-button"> <span class="glyphicon glyphicon-chevron-up">&nbsp;Importieren</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="calendarfile" />
                            </a>
                        </li>
                        <li><a id="download" href="#"><span
								class="glyphicon glyphicon-chevron-down">&nbsp;Exportieren</span></a></li>
                        <li><a id="addcourse" href="#"><span
								class="glyphicon glyphicon-plus">&nbsp;Kurs</span></a></li>
                        <li><a id="addactivity" href="#"><span
								class="glyphicon glyphicon-plus">&nbsp;Aktivität</span></a></li>
                        <li><a id="editoptions" href="#"><span
								class="glyphicon glyphicon-pencil">&nbsp;Optionen</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    <section id="main-slider">

        <div class="carousel-inner">

            <div class="item active">
                <div class="container">
                    <div id="calendar"></div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->

    </section>
    <!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="center gap">
                        <h3>Statistiken</h3>
                    </div>
                    <!--/.center-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">
                            <h4>
								<span class="glyphicon glyphicon-repeat">&nbsp;Gesamt</span>
							</h4>
                            <p id="stat-total">22 Stunden</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">
                            <h4>
								<span class="glyphicon glyphicon-book">&nbsp;Unterricht</span>
							</h4>
                            <p id="stat-course">16 Stunden</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">
                            <h4>
								<span class="glyphicon glyphicon-headphones">&nbsp;Freizeit</span>
							</h4>
                            <p id="stat-activity">18 Stunden.</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">
                            <h4>
								<span class="glyphicon glyphicon-wrench">&nbsp;Nachbearbeitung</span>
							</h4>
                            <p id="stat-rework">4 Stunden</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">

                            <h4>
								<span class="glyphicon glyphicon-paperclip">&nbsp;Vorbereitung</span>
							</h4>
                            <p id="stat-prep">2 Stunden</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="center alert alert-info">
                            <h4>
								<span class="glyphicon glyphicon-stats">&nbsp;Restzeit</span>
							</h4>
                            <p id="stat-rest">8 Stunden</p>
                        </div>
                    </div>
                    <!--/.col-md-4-->
                </div>
                <!--/.row-->
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>

            </div>
        </div>
    </footer>
    <!--/#footer-->

    <div id="dialog-form-activity" title="Aktivit&auml; hinzuf&uuml;gen">
        <form id="activityAddForm">
            <fieldset>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name-act" placeholder="Software Engineering" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <div class="form-group">
                    <label for="name">Text</label>
                    <textarea form="courseAddForm" name="text" id="textArea-act" cols="35" class="form-control" placeholder="Mein liebster Kurs..."></textarea>
                </div>

                <div class="form-group">
                    <label for="Dauer">Dauer</label>
                    <input type="text" name="duration" id="duration-act" placeholder="0 h 45 min" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position: absolute; top: -1000px" />
            </fieldset>
        </form>
    </div>

    <div id="dialog-form-options" title="Optionen Bearbeiten">
        <form id="optionsForm">
            <fieldset>
                <div class="form-group">
                    <label for="freedays">Gewünschte Freie Tage:</label>
                    <input id="freedays" name="freedays" class="form-control" value="0" />

                </div>
                <div class="form-group">
                    <label for="workload">Gewünschter Workload (in h):</label>
                    <input id="workload" name="workload" class="form-control" value="-1" />
                    <br /><small>(-1 = unlimitiert)</small>
                </div>
                <div class="form-group">
                    <button id="resetButton" class="btn btn-lg btn-danger">Calender Leeren</button>
                </div>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position: absolute; top: -1000px" />
            </fieldset>
        </form>
    </div>


    <div id="dialog-form-course" title="Kurs hinzuf&uuml;gen">
        <form id="courseAddForm">
            <fieldset>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Software Engineering" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <div class="form-group">
                    <label for="name">Text</label>
                    <textarea form="courseAddForm" name="text" id="textArea" cols="35" class="form-control" placeholder="Mein liebster Kurs..."></textarea>
                </div>
                <div class="form-group">
                    <label for="Startzeit">Start</label>
                    <input type="text" name="start" id="startTime" placeholder="13.06.2015 18:42" class="text ui-widget-content ui-corner-all form-control" />
                    <br />
                </div>
                <div class="form-group">
                    <label for="Dauer">Dauer</label>
                    <input type="text" name="duration" id="endTime" placeholder="0 h 45 min" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <div class="form-group">
                    <label for="Dauer">Vorbereitung</label>
                    <input type="text" name="preparation" id="preparation" placeholder="0 h 15 min" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <div class="form-group">
                    <label for="Dauer">Nachbearbeitung</label>
                    <input type="text" name="rework" id="rework" placeholder="0 h 30 min" class="text ui-widget-content ui-corner-all form-control" />
                </div>
                <div class="form-group">
                    <label for="priority">Priorität:</label>
                    <input id="priority" name="priority" class="form-control" value="4" />

                </div>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position: absolute; top: -1000px" />


            </fieldset>
        </form>
    </div>

    <script th:src="@{js/widgets.js}" src="../static/js/widgets.js"></script>

    <script th:src="@{js/home.js}" src="../static/js/home.js"></script>

</body>

</html>